# Data directories - Exclude heavy DBs but keep configs
data/postgres/
data/redis/
data/qdrant/
data/chat_logs/

node-linux/
node_modules/
.env

*.tar.gz
*.log
*.db
*.db-wal
*.db-shm

postgres_data/
redis_data/
.vscode/
dist/
build/
